vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-A8PSEDCS\\User
vti_modifiedby:SR|LAPTOP-A8PSEDCS\\User
vti_timelastmodified:TR|29 Nov 2021 01:10:42 -0000
vti_timecreated:TR|25 Nov 2021 19:11:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|sponsor.html clubschedule.html joinus.html timetable.html pastevent.html executives.html gallery.html competitionbracket.html event.html default.dwt aboutus.html blogpost.html competitionschedule.html skilltraining.html achievements.html strategytraining.html homepage.html
vti_nexttolasttimemodified:TW|29 Nov 2021 01:06:10 -0000
vti_cacheddtm:TX|29 Nov 2021 01:10:42 -0000
vti_filesize:IR|5950
vti_cachedlinkinfo:VX|S|abrar/balljump.jpg S|abrar/balljump.gif S|abrar/timetable.jpg S|abrar/timetable.gif S|abrar/Tech.png S|abrar/Desc.png
vti_cachedsvcrellinks:VX|FSUS|abrar/balljump.jpg FSUS|abrar/balljump.gif FSUS|abrar/timetable.jpg FSUS|abrar/timetable.gif FSUS|abrar/Tech.png FSUS|abrar/Desc.png
