vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-A8PSEDCS\\User
vti_modifiedby:SR|LAPTOP-A8PSEDCS\\User
vti_timelastmodified:TR|29 Nov 2021 01:04:10 -0000
vti_timecreated:TR|28 Nov 2021 18:08:11 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|clubschedule.html sponsor.html joinus.html explore.html pastevent.html gallery.html competitionbracket.html executives.html timetable.html event.html default.dwt aboutus.html blogpost.html competitionschedule.html skilltraining.html strategytraining.html achievements.html homepage.html
vti_nexttolasttimemodified:TW|29 Nov 2021 00:55:36 -0000
vti_cacheddtm:TX|29 Nov 2021 01:04:10 -0000
vti_filesize:IR|2131
vti_cachedlinkinfo:VX|S|eamon/basketballshout.jpg S|jershyan/basketball.png
vti_cachedsvcrellinks:VX|FSUS|eamon/basketballshout.jpg FSUS|jershyan/basketball.png
